/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1,200px:   Tablet landscape
1,200 - 1,800:   Normal Desktop (Design-spec)
1,800 +:         Big desktop

breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

Responsive design working order:
 - Base + typography
 - General layout + grid
 - Page layout
 - Components

1em = 16pxS
*/
:root {
  --color-blue-primary: #243d87;
  --color-blue-1: #17406d;
  --color-blue-2: #0f6fc6;
  --color-blue-3: #009dd9;
  --color-blue-4: #0bd0d9;
  --color-blue-5: #dbeff9;
  --color-blue-6: #c9d3f1;
  --color-blue-7: #f0f6ff;
  --color-red-1: #c00000;
  --color-red-2: #f34743;
  --color-red-2: #fab2b0;
  --color-green-1: #002e0c;
  --color-green-2: #387026;
  --color-green-3: #55a839;
  --color-green-4: #cbeac0;
  --color-purple-1: #12005e;
  --color-purple-2: #4a148c;
  --color-purple-3: #7c43bd;
  --color-purple-4: #ee98fb;
  --color-grey-darkest: #424242;
  --color-grey-dark: #595959;
  --color-grey-medium: #bfbfbf;
  --color-grey-light: #f2f2f2;
  --color-highlight-1: #ffb900;
  --color-highlight-2: #ff7730;
  --color-highlight-3: #5643fa;
  --color-white: #ffffff;
  --color-black: #000;
  --button-hover-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2);
  --button-active-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
  --box-shadow-far: 3px 3px 1rem rgba(0,0,0, .7);
  --box-shadow-close: 3px 3px .5rem rgba(0,0,0, .7); }

/* Set Base CSS Settings */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Set Standard Font Size */
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Raleway";
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #243d87;
  color: #ffffff; }

@keyframes moveInLeft {
  /* When the animation starts */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  /* When the animation ends */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /* When the animation starts */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  /* When the animation ends */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  /* When the animation starts */
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  /* When the animation ends */
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #595959; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, #243d87, #0f6fc6);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 35.5em) {
    .heading-primary {
      font-size: 2.5rem; } }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 35.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 35.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 35.5em) {
    .heading-secondary {
      font-size: 1.5rem; } }
  .heading-secondary__grad-blue {
    background-image: linear-gradient(to right, #243d87, #17406d);
    -webkit-background-clip: text;
    color: transparent; }
  .heading-secondary__grad-white {
    background-image: linear-gradient(to right, var(--color-white), var(--color-grey-light));
    -webkit-background-clip: text;
    color: transparent; }

.heading-tertiary {
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  display: inline-block; }
  .heading-tertiary__white {
    color: var(--color-grey-light); }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.center-aligner {
  display: flex;
  background-color: orangered;
  justify-content: center; }

.display-none {
  display: none; }

.container {
  min-width: 100%;
  background-color: var(--color-blue-6);
  min-height: 60rem; }

.content {
  display: flex; }

.navigation {
  flex: 0 0 30%;
  background-color: var(--color-blue-primary); }

.main-section {
  background-color: var(--color-blue-7);
  flex: 1;
  margin-top: 9rem;
  margin-left: 8rem;
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s; }
  .main-section__home-page {
    margin-left: 6rem; }

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 9rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  z-index: 200;
  box-shadow: var(--box-shadow-close); }
  .header__logo {
    display: flex;
    align-items: center;
    background-color: white; }
    .header__logo--image {
      height: 6rem;
      margin-left: 2rem;
      margin-right: 1.5rem; }
    .header__logo--title {
      font-size: 4rem; }
    .header__logo--subtitle {
      margin-top: -1rem;
      font-size: 1.5rem;
      margin-bottom: 0.5rem; }
  .header__search {
    background-color: white;
    flex: 0 0 45%;
    align-items: center;
    justify-content: center;
    display: flex; }
    .header__search--input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      padding-left: 1rem;
      background-color: var(--color-grey-light);
      height: 3.5rem;
      border-radius: 10rem;
      width: 55%;
      transition: all 0.2s;
      margin-right: -3.5rem; }
      .header__search--input:focus {
        width: 60%;
        outline: none;
        background-color: var(--color-blue-6);
        color: var(--color-blue-1); }
    .header__search--input:focus + .header__search--button {
      fill: var(--color-blue-1); }
    .header__search--button {
      background-color: transparent;
      border: transparent;
      fill: var(--color-grey-dark);
      cursor: pointer; }
    .header__search--icon {
      height: 2.5rem;
      width: 2rem;
      background: none; }
  .header__nav {
    position: relative; }
  .header__user-nav {
    background-color: white;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 3px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
    cursor: pointer;
    transition: all 0.2s; }
    .header__user-nav:hover {
      box-shadow: var(--box-shadow-far); }
    .header__user-nav:hover .header__user-nav--user-image {
      box-shadow: var(--box-shadow-far); }
    .header__user-nav:active {
      box-shadow: var(--box-shadow-close); }
    .header__user-nav:active .header__user-nav--user-image {
      box-shadow: var(--box-shadow-close); }
    .header__user-nav--icon-box {
      display: flex;
      width: 1.5rem;
      outline: none; }
    .header__user-nav--icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: var(--color-blue-primary);
      outline: none; }
    .header__user-nav--user {
      display: flex;
      align-items: center;
      margin-right: -2rem; }
    .header__user-nav--user-image {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 100%;
      border: 1px solid black;
      margin-left: 2rem;
      transition: all 0.2s; }
      .header__user-nav--user-image:hover {
        box-shadow: var(--box-shadow-far);
        transform: translateY(-1px); }
      .header__user-nav--user-image:hover ~ .header__user-nav {
        box-shadow: var(--box-shadow-far); }
      .header__user-nav--user-image:active {
        box-shadow: var(--box-shadow-close); }
    .header__user-nav--user-name {
      padding-left: 1rem; }

.account-menu {
  background-color: var(--color-grey-light);
  position: absolute;
  top: 3.8rem;
  right: 4.5rem;
  width: 35rem;
  box-shadow: var(--box-shadow-far);
  cursor: default; }
  .account-menu__icons {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--color-blue-primary);
    margin-right: 1rem; }
  .account-menu__header-box {
    display: flex;
    background-color: white; }
  .account-menu__account-photo-box {
    width: 9rem;
    padding: 1rem;
    background-color: white; }
    .account-menu__account-photo-box--image {
      height: 7rem;
      width: 7rem;
      object-fit: cover;
      border-radius: 10rem; }
  .account-menu__account-details {
    background-color: white;
    padding-left: 1rem;
    margin-top: 1rem; }
    .account-menu__account-details--name {
      font-size: 2.8rem;
      line-height: 1; }
    .account-menu__account-details--type {
      font-size: 1.4rem; }
    .account-menu__account-details--upgrade {
      margin-top: -.2rem;
      margin-bottom: 0.5rem; }
    .account-menu__account-details--upgrade-icon {
      height: 1.4rem;
      width: 1.4rem;
      fill: var(--color-blue-primary);
      transform: rotateY(180deg); }
  .account-menu__manage-account {
    margin-left: 2rem;
    margin-top: 1rem;
    width: fit-content;
    display: flex; }
    .account-menu__manage-account:last-child {
      margin-bottom: 0rem; }
    .account-menu__manage-account--button {
      border: none !important;
      font-size: 1.4rem !important; }
  .account-menu__watchlist {
    margin-left: 1rem;
    margin-top: .5rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .account-menu__watchlist--label {
      font-weight: 700;
      color: var(--color-grey-dark);
      margin-bottom: .5rem;
      font-size: 1.9rem; }
  .account-menu__watched-item {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    margin-bottom: .7rem; }
    .account-menu__watched-item--container {
      display: flex;
      align-items: center;
      margin-left: 1rem; }
    .account-menu__watched-item--icon {
      height: 1.9rem;
      width: 1.9rem;
      fill: var(--color-blue-primary);
      margin-right: 1rem;
      margin-left: 0rem !important; }
    .account-menu__watched-item--label:hover ~ .account-menu__watched-item--count {
      color: red; }
    .account-menu__watched-item--stats {
      position: relative; }
    .account-menu__watched-item--count {
      margin-right: 1.1rem;
      color: white;
      width: 5rem;
      text-align: center;
      border-radius: 0.8rem;
      vertical-align: middle;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-weight: 700;
      cursor: pointer; }
    .account-menu__watched-item--company-count {
      background-image: linear-gradient(to right, var(--color-blue-4), var(--color-blue-3)); }
      .account-menu__watched-item--company-count:hover {
        background-image: linear-gradient(to left, var(--color-blue-4), var(--color-blue-3)); }
      .account-menu__watched-item--company-count:active {
        background-image: linear-gradient(to right, var(--color-blue-2), var(--color-blue-4)); }
    .account-menu__watched-item--concept-count {
      background-image: linear-gradient(to right, var(--color-purple-4), var(--color-purple-3)); }
      .account-menu__watched-item--concept-count:hover {
        background-image: linear-gradient(to left, var(--color-purple-4), var(--color-purple-3)); }
      .account-menu__watched-item--concept-count:active {
        background-image: linear-gradient(to right, var(--color-purple-2), var(--color-purple-4)); }
    .account-menu__watched-item--project-count {
      background-image: linear-gradient(to right, var(--color-green-3), var(--color-green-2)); }
      .account-menu__watched-item--project-count:hover {
        background-image: linear-gradient(to left, var(--color-green-3), var(--color-green-2)); }
      .account-menu__watched-item--project-count:active {
        background-image: linear-gradient(to right, var(--color-green-1), var(--color-green-3)); }
    .account-menu__watched-item--notification {
      width: 2.4rem;
      height: 2.4rem;
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      padding-top: 3px;
      color: white;
      position: absolute;
      background-color: var(--color-red-1);
      border-radius: 10rem;
      top: -1.2rem;
      right: -.5rem;
      box-shadow: var(--box-shadow-close); }
  .account-menu__control-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; }

.navigation {
  margin-top: 9rem;
  height: auto;
  position: fixed;
  left: 0;
  width: 6rem;
  white-space: nowrap;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  z-index: 5;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s; }
  .navigation:hover {
    width: 30rem; }
  .navigation:hover .navigation__link--text {
    opacity: 1; }
  .navigation:hover .navigation__section {
    opacity: 1; }
  .navigation:hover .navigation__copyright {
    opacity: 1; }
  .navigation:hover ~ .main-section {
    margin-left: 32rem; }
  .navigation:hover ~ .main-section__home-page {
    margin-left: 30rem; }
  .navigation:hover ~ .filter-btn {
    margin-left: 30rem; }
  .navigation:hover ~ .filters {
    margin-left: 30rem; }
  .navigation__title {
    margin-left: 1rem; }
  .navigation__section {
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem; }
  .navigation__link {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap; }
    .navigation__link--text {
      opacity: 0;
      transition: opacity 1s; }
  .navigation__icon {
    height: 3rem;
    width: 3rem !important;
    fill: var(--color-grey-light);
    outline-width: 2rem;
    margin-left: 1rem; }
    .navigation__icon--title {
      padding-top: 0.6rem;
      padding-left: 0.6rem; }
  .navigation__copyright {
    color: white;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    white-space: normal;
    margin-bottom: 10rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    opacity: 0;
    height: 10rem;
    width: 26rem;
    overflow: hidden;
    transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 0.1s; }
    .navigation__copyright--disclaimer {
      width: 26rem; }

.inline-btn-white {
  width: 100%; }
  .inline-btn-white:link, .inline-btn-white:visited {
    font-size: 1.6rem;
    color: var(--color-blue-1);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid var(--color-blue-primary);
    padding: 3px;
    transition: all 0.2s; }
  .inline-btn-white--icon {
    fill: var(--color-blue-primary);
    outline-width: 2rem;
    margin-left: 1rem; }
  .inline-btn-white--text {
    margin-left: 1rem;
    margin-right: 1rem; }
  .inline-btn-white:hover {
    background-color: var(--color-grey-light);
    color: var(--color-blue-primary);
    font-weight: bold;
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px); }
  .inline-btn-white:active {
    box-shadow: var(--box-shadow-close);
    background-color: var(--color-grey-medium);
    transform: translateY(0); }

.inline-btn-blue {
  width: 100%; }
  .inline-btn-blue:link, .inline-btn-blue:visited {
    font-size: 1.6rem;
    color: var(--color-grey-medium);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid var(--color-blue-primary);
    padding: 3px;
    transition: all 0.2s; }
  .inline-btn-blue--icon {
    fill: white;
    outline-width: 2rem;
    margin-left: 1rem; }
  .inline-btn-blue--text {
    margin-left: 1rem;
    margin-right: 1rem; }
  .inline-btn-blue:hover {
    background-color: var(--color-blue-2);
    color: white;
    font-weight: bold;
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px); }
  .inline-btn-blue:active {
    box-shadow: var(--box-shadow-close);
    background-color: var(--color-blue-3);
    transform: translateY(0); }

.btn-white {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-white), var(--color-grey-light));
  color: var(--color-blue-1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  display: flex;
  align-items: center; }
  .btn-white:hover {
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px);
    background-image: linear-gradient(to left, var(--color-white), var(--color-grey-light)); }
  .btn-white:active {
    box-shadow: var(--box-shadow-close);
    transform: translateY(0);
    background-image: linear-gradient(to right, var(--color-white), var(--color-grey-light)); }

.btn-small {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-grey-light), var(--color-grey-medium));
  color: var(--color-blue-1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5rem;
  outline: none;
  display: flex;
  align-items: center; }
  .btn-small:hover {
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px);
    background-image: linear-gradient(to right, var(--color-blue-2), var(--color-blue-3));
    color: white; }
  .btn-small:active {
    box-shadow: var(--box-shadow-close);
    transform: translateY(0);
    background-image: linear-gradient(to right, var(--color-blue-3), var(--color-blue-4));
    color: white; }

.text-link, .text-link:link, .text-link:visited {
  cursor: pointer;
  color: var(--color-blue-primary);
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
  text-transform: uppercase; }

.text-link::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--color-blue-primary);
  z-index: 99;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: all .2s; }

.text-link__icon {
  height: 1.2rem;
  width: 1.2rem;
  fill: var(--color-blue-primary);
  transform: rotateY(180deg); }

.text-link span {
  font-size: 1rem;
  transition: all 0.2s;
  font-weight: 700; }

.text-link:hover {
  font-weight: 700; }
  .text-link:hover span {
    margin-left: 0.3rem; }
  .text-link:hover:after {
    width: 100%; }

.text-link:active {
  color: var(--color-blue-2); }
  .text-link:active span {
    margin-left: 0.1rem;
    fill: var(--color-blue-2); }
  .text-link:active:after {
    background-color: var(--color-blue-2); }

.text-link:active .text-link__icon {
  fill: var(--color-blue-2); }

.divider {
  width: 100%;
  height: 2px;
  margin-bottom: 1rem; }
  .divider__small {
    height: 1px;
    box-shadow: none;
    width: 98%; }
  .divider__blue {
    background: var(--color-blue-primary); }
  .divider__white {
    background: var(--color-grey-light); }

.content-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow-close); }

.praise__box {
  background-color: var(--color-blue-primary);
  background-color: var(--color-blue-7);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  opacity: .6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-blue-primary);
  cursor: pointer;
  transition: all .2s; }
  .praise__box:hover {
    background-color: var(--color-blue-3);
    opacity: .8;
    top: .4rem;
    box-shadow: var(--box-shadow-far); }
  .praise__box:active {
    background-color: var(--color-blue-1);
    opacity: .8;
    top: .5rem;
    box-shadow: var(--box-shadow-close); }
  .praise__box:hover .praise__box--icon {
    fill: white; }
  .praise__box--icon {
    fill: var(--color-blue-6);
    height: 1.7rem;
    width: 1.7rem;
    transition: all .2s;
    pointer-events: none; }

.active-praise {
  background-color: var(--color-blue-primary);
  opacity: 1; }
  .active-praise__icon {
    fill: white; }

.main-section__profile-section {
  display: flex; }

.projectScape-plus {
  background-color: var(--color-blue-2);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem; }

.intro-bar {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex; }

.cta {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--box-shadow-close); }
  .cta__main-title {
    line-height: 1.2;
    font-size: 2.5rem;
    padding: 1rem; }
  .cta__sub-title {
    padding-top: 1rem; }
  .cta__form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cta__form--input-field {
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: center;
      display: flex; }
    .cta__form--agree-checkbox {
      align-self: center;
      margin-top: 0.5rem; }
    .cta__form--input {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      padding-left: 1rem;
      background-color: var(--color-white);
      height: 3.5rem;
      border-radius: 10rem;
      width: 85%;
      transition: all 0.2s;
      margin-right: -3.5rem; }
      .cta__form--input:focus {
        width: 90%;
        outline: none;
        background-color: var(--color-blue-6);
        color: var(--color-blue-1); }
    .cta__form--button {
      background-color: transparent;
      border: transparent;
      fill: var(--color-grey-dark);
      cursor: pointer; }
    .cta__form--icon {
      height: 2.5rem;
      width: 2rem;
      background: none; }

.quick-stats {
  margin-left: 3rem;
  margin-right: 3rem;
  width: min-content;
  flex: 66% 0 0; }
  .quick-stats__section-title {
    display: flex; }
    .quick-stats__section-title--stats-icon {
      height: 3.5rem;
      width: 3.5rem;
      margin-right: 1rem; }
  .quick-stats__stats {
    display: flex;
    align-content: space-between; }
  .quick-stats__stat-box {
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    height: 12rem;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: var(--box-shadow-close); }
    .quick-stats__stat-box:last-child {
      margin-left: 1rem; }
    .quick-stats__stat-box:first-child {
      margin-right: 1rem; }
    .quick-stats__stat-box--header {
      position: absolute; }
    .quick-stats__stat-box--box-title {
      align-self: flex-start;
      background-image: linear-gradient(to right, var(--color-blue-2), var(--color-blue-3));
      color: white;
      width: 100%;
      height: 3.5rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
      position: relative;
      padding-top: 0.5rem;
      padding-left: 1rem;
      font-weight: 700;
      transition: all 0.2s; }
    .quick-stats__stat-box--box-stat {
      font-family: lato;
      font-size: 5.5rem;
      font-weight: 300;
      line-height: 1;
      text-align: center;
      transition: all 0.1s; }
    .quick-stats__stat-box--link {
      align-self: flex-end;
      align-items: center;
      -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
      background-image: linear-gradient(to right, var(--color-blue-2), var(--color-blue-primary));
      width: 100%;
      color: white;
      height: 3rem;
      position: relative;
      text-align: right;
      vertical-align: middle;
      padding-top: 0.5rem;
      padding-right: 1rem;
      text-decoration: none;
      transition: all 0.2s; }
  .quick-stats__stat-box:hover .quick-stats__stat-box--box-title {
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .quick-stats__stat-box:hover .quick-stats__stat-box--box-stat {
    font-weight: 400; }
  .quick-stats__stat-box:hover .quick-stats__stat-box--link {
    left: 0;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%); }

.profile-card {
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 1.5rem;
  width: 50%; }
  .profile-card__type {
    position: absolute;
    height: 3rem;
    width: 90%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    padding-left: .9rem;
    padding-top: .2rem;
    font-weight: 700;
    font-size: 1.5rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%); }
    .profile-card__type--company {
      color: var(--color-blue-primary);
      background-image: linear-gradient(to right, var(--color-blue-4), var(--color-blue-6)); }
    .profile-card__type--project {
      color: var(--color-green-1);
      background-image: linear-gradient(to right, var(--color-green-3), var(--color-green-4)); }
  .profile-card__card {
    position: relative;
    overflow: hidden;
    display: flex;
    margin-bottom: 1rem; }
  .profile-card__summary-box {
    display: flex;
    flex: 30% 0 0;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem; }
    .profile-card__summary-box--logo-box {
      display: flex;
      justify-content: center;
      margin-top: 2rem; }
    .profile-card__summary-box--logo {
      height: 10rem;
      width: 100%;
      padding: .5rem;
      object-fit: contain; }
    .profile-card__summary-box--location {
      text-align: center;
      font-size: 1.3rem; }
    .profile-card__summary-box--stat-box {
      display: flex;
      justify-content: space-between; }
    .profile-card__summary-box--follow-btn {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem; }
  .profile-card__description-box {
    margin-left: 1rem;
    margin-right: 2rem; }
    .profile-card__description-box--heading {
      z-index: 99;
      font-size: 3rem !important;
      height: 7rem;
      margin-top: 2.5rem;
      vertical-align: middle;
      line-height: 1;
      padding-bottom: 1rem;
      display: flex;
      align-items: center; }
    .profile-card__description-box--description {
      margin-bottom: 1rem; }
    .profile-card__description-box--description-link {
      text-align: right;
      margin-top: 1rem; }
  .profile-card__section-title {
    display: flex;
    align-items: center; }
    .profile-card__section-title--follow-icon {
      margin-right: 1rem;
      height: 3.5rem;
      width: 3.5rem; }
  .profile-card__buttons {
    display: flex;
    height: 2rem; }
    .profile-card__buttons--button {
      margin-right: 1rem;
      padding-right: 1rem;
      padding-left: 1rem; }
  .profile-card__description {
    margin: 1rem 1.5rem; }

.project {
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 3rem;
  width: 50%; }
  .project__section-title {
    display: flex;
    align-items: center; }
    .project__section-title--follow-icon {
      margin-right: 1rem;
      height: 3.5rem;
      width: 3.5rem; }
  .project__card {
    margin-bottom: 1rem;
    border: 0.5px solid var(--color-grey-medium);
    z-index: 10; }
    .project__card--header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .project__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 4rem; }
    .project__title--logo-box {
      height: 3rem;
      width: 6rem;
      display: flex;
      padding: 1px; }
    .project__title--logo {
      width: 100%;
      object-fit: contain; }
    .project__title--project-name {
      margin-left: 1rem;
      font-size: 2rem; }
  .project__buttons {
    display: flex;
    height: 2rem; }
    .project__buttons--button {
      margin-right: 1rem;
      padding-right: 1rem;
      padding-left: 1rem; }
  .project__companies {
    display: flex;
    flex: 1; }
    .project__companies--container-heading {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-decoration: underline;
      margin-left: 0.5rem;
      font-weight: 700;
      font-size: 1.4rem; }
    .project__companies--concept-owners {
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-grey-medium); }
    .project__companies--associated-companies {
      flex: 1; }
    .project__companies--company-container {
      display: flex; }
    .project__companies--container-item {
      height: 3.5rem;
      width: 3.5rem;
      object-fit: contain;
      background-color: white;
      border-radius: 100px;
      border: 1px solid var(--color-grey-dark);
      margin-right: 0.5rem;
      margin-bottom: 0.5rem; }
      .project__companies--container-item:not(:last-child) {
        cursor: pointer; }
      .project__companies--container-item:first-child {
        margin-left: 0.5rem; }
    .project__companies--overflow-counter {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle; }
  .project__description {
    margin: 1rem 1.5rem; }

.active-page {
  display: flex; }

.filters {
  background-color: var(--color-grey-light);
  width: 2rem;
  opacity: 0.5;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: var(--color-grey-medium);
  border-right: 1px solid var(--color-blue-primary);
  display: block;
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;
  position: fixed;
  margin-left: 6rem; }
  .filters__heading {
    margin-top: 9.5rem; }
    .filters__heading--title {
      margin-left: 1rem;
      opacity: 0;
      transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0.1s; }
  .filters__overflow {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--color-grey-light); }
  .filters:hover {
    width: 25rem;
    opacity: 1; }
  .filters:hover + .filter-btn {
    margin-left: 29rem;
    margin-top: 9.5rem; }
  .filters:hover .filters__heading--title {
    opacity: 1; }
  .filters:hover .filters__filter {
    opacity: 1; }
  .filters:hover ~ .main-section {
    margin-left: 30rem; }
  .filters__filter {
    opacity: 0;
    margin-top: 1rem;
    white-space: nowrap;
    transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 0.1s;
    transition-delay: .2s !important;
    padding-left: 1rem;
    padding-right: 1rem; }

.filter-btn {
  position: fixed;
  margin-left: 6.2rem;
  margin-top: 20rem;
  z-index: 3;
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s; }
  .filter-btn:hover {
    margin-left: 29rem;
    margin-top: 9.5rem; }
  .filter-btn:hover .filter-btn__filter {
    opacity: 1; }
  .filter-btn:hover ~ .main-section {
    margin-left: 30rem; }
  .filter-btn:hover ~ .filters {
    width: 25rem; }
  .filter-btn__btn {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-blue-primary);
    background-image: url("../img/sprite.svg#icon-pin"); }
  .filter-btn__icon {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
    fill: var(--color-blue-primary);
    position: absolute; }

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.browser {
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 100%; }
  .browser__section-title {
    display: flex;
    align-items: center; }
    .browser__section-title--follow-icon {
      margin-right: 1rem;
      height: 3.5rem;
      width: 3.5rem; }
  .browser__card {
    margin-bottom: 1rem;
    border: 0.5px solid var(--color-grey-medium);
    z-index: 10; }
    .browser__card--header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .browser__title {
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 4rem; }
    .browser__title--logo-box {
      height: 3rem;
      width: 6rem;
      display: flex;
      padding: 1px; }
    .browser__title--logo {
      width: 100%;
      object-fit: contain; }
    .browser__title--project-name {
      margin-left: 1rem;
      font-size: 2rem; }
  .browser__buttons {
    display: flex;
    height: 2rem; }
    .browser__buttons--button {
      margin-right: 1rem;
      padding-right: 1rem;
      padding-left: 1rem; }
  .browser__details {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .browser__details--title {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 1rem;
      text-decoration: underline; }
    .browser__details--content {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: .5rem;
      margin-bottom: 1rem; }
    .browser__details--about-section {
      flex: 70% 0 0; }
    .browser__details--about {
      justify-content: flex-start;
      align-self: flex-start; }
  .browser__description {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.pin-content {
  opacity: 1; }

.grow-and-pin {
  width: 25rem;
  opacity: 1;
  margin-left: 6rem !important; }

.pin-button {
  margin-left: 29rem;
  margin-top: 9.5rem; }

.pin-main-section {
  margin-left: 30rem !important; }

.lock-navigation {
  width: 6rem !important; }

.display-content {
  opacity: 1; }

.display-and-grow {
  width: 25rem;
  opacity: 1; }

.display-none {
  display: none; }
