@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin contentAlignCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin transitionWithDelay {
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.1s;
}

// Button mixins for inline buttons
@mixin inline-button-properties($base-color, $hover-color, $hover-background, $active-background ) {
  width: 100%;

  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $base-color;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid var(--color-blue-primary);
    padding: 3px;
    transition: all 0.2s;
  }

  &--icon {
    // height: 3rem;
    // width: 3rem !important;
    fill: $hover-color;
    outline-width: 2rem;
    margin-left: 1rem;
  }

  &--text {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &:hover {
    background-color: $hover-background;
    color: $hover-color;
    font-weight: bold;
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px);
  }


  &:active {
    box-shadow: var(--box-shadow-close);
    background-color: $active-background;
    transform: translateY(0);
  }

}


/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900 - 1,200px:   Tablet landscape
1,200 - 1,800:   Normal Desktop (Design-spec)
1,800 +:         Big desktop

breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

Responsive design working order:
 - Base + typography
 - General layout + grid
 - Page layout
 - Components

1em = 16pxS
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 35.5em) {
      @content
    }
  };
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }
  };
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }
  };
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    }
  };
};