.container {
  min-width: 100%;
  background-color: var(--color-grey-light);
  min-height: 60rem;
}

.content {
  display: flex;

}

.navigation {
  flex: 0 0 30%;
  background-color: var(--color-blue-primary);
}

.main-section {
  background-color: var(--color-blue-7);
  flex: 1;
  margin-top: 9rem;
  margin-left: 8rem;
  @include transitionWithDelay;

  &__home-page {
    margin-left: 6rem;
  }

  &__company-profile {
    margin-left: 6rem;
  }

  &__profile-section {
    display: flex;
    flex-wrap: wrap;
    &--trending-companies {
      flex: 1 1 50%;
      min-width: 55rem;
    }
    &--project-updates {
      flex: 1 1 50%;
      min-width: 55rem;
    }
  }
}