.inline-btn-white {
  @include inline-button-properties(var(--color-blue-1), var(--color-blue-primary), var(--color-grey-light), var(--color-grey-medium) )
}

.inline-btn-blue {
  @include inline-button-properties(var(--color-grey-medium), white, var(--color-blue-2), var(--color-blue-3) )
}

.btn-white {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-white), var(--color-grey-light));
  color: var(--color-blue-1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px);
    background-image: linear-gradient(to left, var(--color-white), var(--color-grey-light));
  }

  &:active {
    box-shadow: var(--box-shadow-close);
    transform: translateY(0);
    background-image: linear-gradient(to right, var(--color-white), var(--color-grey-light));
  }
}

.btn-small {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-grey-light), var(--color-grey-medium));
  color: var(--color-blue-1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5rem;
  outline: none;
  display: flex;
  align-items: center;

  &:hover {
    box-shadow: var(--box-shadow-far);
    transform: translateY(-2px);
    background-image: linear-gradient(to right, var(--color-blue-2), var(--color-blue-3));
    color: white;
  }

  &:active {
    box-shadow: var(--box-shadow-close);
    transform: translateY(0);
    background-image: linear-gradient(to right, var(--color-blue-3), var(--color-blue-4));
    color: white;
  }
}

.text-link {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    color: var(--color-blue-primary);
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    text-transform: uppercase;

  }
  &::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--color-blue-primary);
    z-index: 99;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all .2s;
  }


  &__icon {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--color-blue-primary);
    transform: rotateY(180deg);
  }

  & span {
    font-size: 1rem;
    transition: all 0.2s;

    font-weight: 700;

  }

  &:hover {
    font-weight: 700;

    & span {
      margin-left: 0.3rem;

    }

    &:after {
      width: 100%;

    }
  }

  &:active {
    color: var(--color-blue-2);
    // border-bottom: 2px solid var(--color-blue-2);

    & span {
      margin-left: 0.1rem;
      fill: var(--color-blue-2);
    }

    &:after {
      background-color: var(--color-blue-2);
    }
  }

  &:active &__icon {
    fill: var(--color-blue-2);
  }
}